HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# IDE-Specific Files and Directories
.idea/
.vscode/
.settings/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

# Miscellaneous
.DS_Store
.mvn/

# Dependency Management Files
pom.xml
build.gradle
settings.gradle

# Environment and IDE Configuration Files
.env
.gitignore



